.separator-status-box{
    border-collapse: collapse;
    text-align: center;
    margin: 1em auto;
    border: .2rem solid #5c5c5c;
}
.separator-status-box td{
    background-color: white;
    border-top: .1rem solid #bebebe;
    border-right: .1rem solid #bebebe;
    padding: .2em .4em;
    box-sizing: border-box;
}
.separator-status-box .th td{
    border-top-color: #5c5c5c;
}
a::before{
    content: attr(data-text);
}
.separator-status-box .status::before{
    content: attr(data-status);
}
.separator-status-box .status[data-status='waiting']{
    color: blue;
}
.separator-status-box .status[data-status='working']{
    color: yellowgreen;
}
.separator-status-box .status[data-status='finished']{
    color: green;
}