.separator-status-box{
    border-collapse: collapse;
    text-align: center;
    margin: 1em auto;
    border: 2px solid #5c5c5c;
}
.separator-status-box td{
    background-color: white;
    border-top: 1px solid #bebebe;
    border-right: 1px solid #bebebe;
    padding: .2em .4em;
    box-sizing: border-box;
}
.separator-status-box .th td{
    border-top-color: #5c5c5c;
}