{% import 'mobile-macros.html' as macro with context %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <title>{% block title %}南雅中学C1818班{% endblock %}</title>
        <link rel=icon href="/static/images/favicon.ico"/>
        {{ macro.js_css(index_js="/static/js/c18/m/index.js",index_css="/static/css/c18/m/index.css") }}
        {% block css %} {% endblock %}
    </head>
    <body>
        {{ macro.nav() }}
        <div class="container">
            {% block mdv %} {% endblock %}
        </div>
    </body>
</html>

