{% extends "index.html" %}

{% block title %}消息{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/chat/pc/main.css" />
{% endblock %}

{% block mdv %}
<script src="/static/js/chat/pc/main.js"></script>
<script src="/static/js/moment.min.js"></script>
<div class="index-page">
    <div class="index-left">
        <div class="title-box">
            <div class="title-top">
                <div class="title-user">
                    <div class="user-photo"></div>
                    <span class="user-name"></span>
                </div>
                <i class="fas fa-chevron-circle-down fa-lg right-btn R180"></i>
            </div>
            <div class="title-settings" style="display: none;">
                <div>
                    <span>允许陌生人跟我发消息</span>
                    <div class="choice" id="alws" title="关闭后，只有好友可以跟你发消息"></div>
                </div>
                <div>
                    <span>使用 Ctrl + Enter 发送消息</span>
                    <div class="choice" id="ctrl" title="开启后，将使用 Ctrl + Enter 发送消息"></div>
                </div>
            </div>
            <div class="title-search">
                <i class="fas fa-search"></i>
                <input id="search" placeholder="搜索用户..." maxlength="64" />
                <div id="search-box"></div>
            </div>
        </div>
        <div class="chat-list">

        </div>
    </div>
    <div class="index-main">
        <div class="tip">您还未选中或者发起聊天，快去跟好友聊一聊吧</div>
    </div>
</div>
{% endblock %}

{% block templates %}
<template id="template-msg-item">
    <a class="msg-item active">
        <div class="left photo">
            <img src="" />
        </div>
        <div class="right">
            <div class="right-top">
                <div class="name">
                    <span></span>
                </div>
                <div class="time"></div>
            </div>
            <div class="right-bottom">
                <p class="last-msg"></p>
                <span class="count"></span>
            </div>
        </div>
    </a>
</template>
<template id="template-index-main">
    <div class="index-main">
        <div class="chat-header">
            <a href="" class="chat-header-user"></a>
            <div><span>自动刷新</span>
                <div class="choice" id="ar" title="开启后，会自动获取最新消息"></div>
            </div>
        </div>
        <div class="msg-content-box">
            <div>
            </div>
        </div>
        <div class="send-msg-box">
            <div class="edit-textarea"><textarea id="msg-text" autofocus="" maxlength="500"></textarea></div>
            <footer>
                <p class="word-count"><span>0</span> / 500</p><button id="send-msg">发送<span>Enter</span></button>
            </footer>
        </div>
    </div>
</template>
<template id="template-msg">
    <div class="msg">
        <div class="system-propmt"></div>
        <div class="msg-main">
            <img src="">
            <div class="msg-text"></div>
        </div>
    </div>
</template>
{% endblock %}