{% extends "index.html" %}

{% block title %}消息{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/chat/pc/main.css" />
{% endblock %}

{% block mdv %}
<script src="/static/js/chat/pc/main.js"></script>
<div class="index-page">
    <div class="index-left">
        <div class="title-box">
            <div class="title-top">
                <div class="title-user">
                    <div class="user-photo"></div>
                    <span class="user-name"></span>
                </div>
                <i class="fas fa-chevron-circle-down fa-lg right-btn R180"></i>
            </div>
            <div class="title-settings" style="display: none;">
                <div>
                    <span>允许陌生人跟我发消息</span>
                    <div class="choice" id="alws"></div>
                </div>
            </div>
            <div class="title-search">
                <i class="fas fa-search"></i>
                <input id="search" placeholder="搜索用户..." maxlength="64" />
                <div id="search-box"></div>
            </div>
        </div>
        <div class="chat-list">
            <!--
            <div class="msg-item active">
                <div class="left photo"></div>
                <div class="right">
                    <div class="right-top">

                    </div>
                    <div class="right-bottom">

                    </div>
                </div>
            </div>
            -->
        </div>
    </div>
</div>
{% endblock %}