.index-page {
    max-width: 1150px;
    width: 98%;
    margin: auto;
    height: 600px;
    display: flex;
    overflow: hidden;
    border-radius: 8px;
    background: #fff;
}

.index-left {
    width: 320px;
    height: 100%;
    float: left;
    background: #555555;
    color: #fff;
}

.title-box {
    /* height: 110px; */
    line-height: 79px;
    background: #2e2e2e;
    padding: 0 16px;
    border-bottom: 1px solid #666;
    flex-direction: column;
    display: flex;
}

.title-search {
    height: 30px;
    line-height: 30px;
    border-top: 1px solid #666;
    position: relative;
}

#search {
    background-color: transparent;
    color: #fff;
    border: 0;
    outline: 0;
    padding: 6px 10px;
    height: 18px;
    margin: 0 5px;
    width: calc(100% - 56px);
    vertical-align: top;
}

#search:focus {
    background-color: #3f3f3f;
}

#search-box {
    position: absolute;
    width: calc(100% - 16px);
    background-color: #4f4f4f;
    border: 1px solid #888;
    z-index: -9999;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 2px;
    margin-top: 5px;
    left: 16px;
    opacity: 0;
}

#search-box .search-item {
    height: 30px;
    color: #fff;
    cursor: pointer;
}

#search-box .search-item:hover {
    background-color: #6d6d6d;
}

.search-item .matched {
    color: red;
}

.title-user {
    width: 85%;
    height: 100%;
    float: left;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.title-top {
    display: flex;
    align-items: center;
}

.right-btn {
    display: flex;
    position: relative;
    cursor: pointer;
    transition: 0.5s ease-out;
}

.R180 {
    transform: rotate(180deg);
    /* IE 9 */
    -ms-transform: rotate(180deg);
    /* Firefox */
    -moz-transform: rotate(180deg);
    /* Safari 和 Chrome */
    -webkit-transform: rotate(180deg);
    /* Opera */
    -o-transform: rotate(90deg);
}

.title-settings {
    color: #bbb;
    border-top: 1px solid #666;
    padding: .3em 1em;
}

.title-settings>div {
    line-height: 16px;
    height: 20px;
}

.choice {
    display: inline-block;
    height: 20px;
    width: 40px;
    /* border: 1px solid grey; */
    border-radius: 6px;
    vertical-align: middle;
    float: right;
    position: relative;
    overflow: hidden;
    background-color: var(--slider-unselect-color);
}

:root {
    --slider-color: rgb(141, 141, 255);
    --slider-unselect-color: grey;
    --slider-select-color: white;
}

.choice::before {
    content: '关';
    position: absolute;
    height: 20px;
    width: 20px;
    left: 0;
    top: 0;
    background: linear-gradient(to left, var(--slider-color) 20px, var(--slider-select-color) 20px);
    transition: 0.5s;
    text-align: right;
    font-size: 12px;
    padding: 4px;
    color: white;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.choice.select::before {
    width: 40px;
    content: '开';
}

.title-user .user-name {
    margin-left: 15px;
}

/* msg-item */
.msg-item {
    height: 80px;
    display: flex;
    position: relative;
    background: #3d3d3d;
    padding: 16px;
    border-bottom: 1px solid #2e2e2e;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.msg-item.active {
    background: #2e2e2e;
}