
#events{
	display: block;
	position: fixed;
	z-index: 9999999;
	right: 0;
	bottom: 0;
	width: 300px;
	max-height: 600px;
	background-color: transparent;
}
.event{
	display: block;
	position: relative;
	min-width: 280px;
	background-color: rgba(221, 221, 221, 0.5);
	border-left: 3px solid rgb(160, 160, 160);
	left: 300px;
	/* min-height: 60px;
	margin: 10px 0;
	padding: 14px 5px 10px; */
	font-size: 12px;
	cursor: default;
}
.event:hover{
	background-color: rgba(221, 221, 221, 1);
}
.event .close{
	display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 14px;
    height: 14px;
    background: url(/static/images/close.png) center;
    background-size: 12px 12px;
}