main {
    width: 90%;
    max-width: 1200px;
    padding: 10px;
    margin: 0 auto;
}

/* header */
.display-header {
    background-color: white;
    padding: 10px;
    position: relative;
}

.display-header-top {
    padding: 170px 20px 0;
}

.display-user-photo {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 2px solid #aaaaaa;
}

.display-user-info {
    display: inline-block;
    height: 68px;
    vertical-align: top;
}

.display-user-name-box {}

.display-user-titles {
    display: inline-block;
}

.display-user-titles>* {
    line-height: 24px;
    height: 24px;
    text-align: center;
    display: inline-block;
    margin: 5px 5px;
    padding: 0px 5px;
    border-radius: 3px;
    cursor: default;
}


.display-user-name {
    font-size: 1.5em;
}

.display-user-info p {
    color: #fff;
    text-shadow: 1px 1px 3px #333;
    display: inline-block;
}

.display-user-personalized {
    text-overflow: ellipsis;
}

.display-personalized-modify {
    display: none;
    padding: 1px 2px;
    outline: 0;

}

.display-user-action {
    display: inline-block;
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.display-user-action a {
    display: inline-block;
    flex: none;
    outline: 0;
    cursor: pointer;
    color: #fff;
    font-weight: inherit;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    background: 0 0;
    border-radius: 3px;
    border: 2px solid;
    border-color: rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 0.875em;
    padding: 0.313em 1em;
}

.display-header-bottom {
    display: flex;
    justify-content: space-between;
    padding: 0 1.5em;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.display-menu {
    align-items: baseline;
}

.display-menu-items {
    list-style: none;
    outline: 0;
}

.display-menu-items>li:first-child {
    margin-left: 0;
}

.display-menu-items>li {
    display: inline-block;
    padding: .063em .5em;
    transition: .3s ease all;
    position: relative;
}

.display-menu-items>li>.entry {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    padding: 20px .5em;
}

.display-menu-items>li>.entry.selected::before {
    margin: 0 .5em;
    width: calc(100% - 1em);
    background-color: #3498db;
}

.display-menu-items>li>.entry::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    transition: .233s ease all;
}

.display-menu-items>li>.entry.selected:hover::before {
    margin: 0 0;
    width: 100%;
    background-color: #3498db;
}

.display-menu-items>li>.entry:hover::before {
    margin: 0;
    width: 100%;
    background-color: #bfbfbf;
}

.display-menu-items>li>.entry.selected {
    cursor: default;
    color: var(--main-color);
    background-color: transparent;
}

/* display-main */
.display-main {
    min-height: 100px;
    margin-top: 15px;
}

.display-main-right {
    width: calc(33.33% - .5em);
    float: right;
    box-sizing: border-box;
}

.display-main-middle {
    display: inline-block;
    width: calc(66.67% - .5em);
    box-sizing: border-box;
}

.display-main .card {
    display: block;
    margin-bottom: 1.3em;
    background-color: #fff;
    box-shadow: 0 1px 3px rgb(26 26 26 / 10%);
    box-sizing: border-box;
    padding: 1.3em;
}

.display-main-right .card>div {
    display: flex;
}

.display-main .card>div {
    margin-bottom: 1em;
    align-items: center;
}

.display-main .card>div>*:first-child {
    flex: 1 0 auto;
}

.display-main .card>div:last-child {
    margin-bottom: 0;
}

/* #page-main{

} */

.display-main-middle .card h3 {
    margin-top: 0;
    margin-bottom: .5em;
    font-family: inherit;
    font-weight: bold;
    line-height: 1.2;
    color: inherit;
    font-size: 1.125em;
}

.display-main-introduction {
    display: block;
    overflow: hidden;
    overflow-wrap: break-word;
}

#page-main #edit {
    border-color: rgb(52, 152, 219);
    color: rgb(52, 152, 219);
    background-color: rgba(52, 152, 219, 0);
    /* display: inline-block; */
    flex: none;
    outline: 0;
    cursor: pointer;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    border-radius: 3px;
    border: 1px solid;
    font-size: 0.875em;
    padding: 0.125em 0.5em;
    float: right;
}


/* svg */
.svg-inline {
    display: inline-block;
    height: 1em;
    width: 1.15em;
    text-align: center;
    overflow: visible;
}

/* Markdown */

pre {
    position: relative;
    overflow-y: hidden;
    overflow-x: auto;
    line-height: 22px;
    margin: 0 0 24px;
    padding: 8px 16px 6px 56px;
    background-color: #f6f8fa;
    border: none;
}

pre code {
    width: auto;
    padding: 0 !important;
    margin: 0 !important;
}

pre code * {
    margin: 0;
    padding: 0;
}

pre:hover .hljs-button {
    display: block;
}

.hljs-button:after {
    content: attr(data-title)
}

.hljs-button {
    margin: 2px 8px;
    display: none;
    position: absolute;
    right: 4px;
    top: 4px;
    font-size: 16px;
    color: #4d4d4d;
    background-color: white;
    padding: 2px 8px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgb(0 0 0 / 5%), 0 2px 4px rgb(0 0 0 / 5%);
}

.pre-numbering {
    position: absolute;
    width: 48px;
    background-color: #eef0f4;
    top: 0;
    left: 0;
    margin: 0;
    padding: 8px 0;
    list-style: none;
    text-align: right;
    background-color: transparent;
}

.pre-numbering li {
    color: #abb2bf !important;
    border-right: 1px solid #c5c5c5;
    padding: 0 8px;
    list-style: none;
    margin: 0;
}

/* admin & lvl styles */
.lvl {
    border: 1px solid;
}

.Sakuyark {
    border: 1px solid #008000b5;
    background: linear-gradient(to right, #0080006b, #008000b5, #0080006b);
}

.admin {
    border: 1px solid;
}

.ad1 {
    background-color: yellow;
    border-color: #ffca00;
}

.ad2 {
    background-color: mediumpurple;
    border-color: purple;
    color: white;
}

.ad3 {
    background-color: black;
    border-color: black;
    color: white;
}

.ad4 {
    background-color: red;
    border-color: #ff6000;
    color: black;
}

.lv0,
.lv1,
.lv2,
.lv3,
.lv4,
.lv5,
.lv6,
.lv7,
.lv8,
.lv9,
.lv10,
.lv11,
.lv12 {
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.5)
}

.lv13,
.lv14,
.lv15,
.lv16,
.lv17,
.lv18 {
    color: white;
    border: 1px solid rgb(200, 200, 200)
}