#main {
    width: 70%;
    min-height: 1400px;
    min-width: 500px;
    margin: 30px auto;
    box-shadow: 0 0 5px #888888;
    padding: 30px;
}
#main .part {
    width: 80%;
    /* border: 1px solid #D0D0D0; */
    box-shadow: 0 0 2px #555555;
    padding: 10px;
    margin: 15px auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.intr {
    color: grey;
    margin: 5px auto;
    display: block;
    padding: 5px 10px;
    width: 80%;
}
.intr span {
    font-weight: bold;
}
.part .text {
    border-radius: 5px;
    display: block;
    width: 95%;
    margin: 0 auto;
    padding: 5px;
    background: #80808063;
}
.part div {
    display: block;
    margin: 5px auto;
    width: 95%;
    /* height: 60px; */
    line-height: 60px;
    position: relative;
}
.part div * {
    display: inline-table;
    vertical-align: middle;
    position: relative;
}
#recording {
    width: 100px;
    height: 30px;
    display: none;
    padding-left: 35px;
    position: fixed;
    line-height:30px;
    border-radius: 5px;
    top:15px;
    left:15px;
    color: #FFFFFF;
    background-color: #000000;
}
#recording:before {
    content: '';
    display: block;
    padding: 0;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 7.5px;
    left: 8px;
    border-radius: 50%;
    background-color: red;
    animation-name: t1;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
}
#recording em {
    font-style: normal;
}
@keyframes t1 {
0%   {opacity : 1;}
51%  {opacity : 0;}
100%  {opacity : 1;}
}
