{% extends "m.html" %}

{% block css %}
<link rel="stylesheet" href="/static/css/login/m/login.css" />
{% endblock %}

{% block title %}登录{% endblock %}

{% block mdv %}
<div class="login">
    <form action="/m/login/" method="post">
        <h3 class="title">登录</h3>
        <div class="entry" id="entry-user">
            <input type="text" id="user" name="user" placeholder="用户名，暂不支持邮箱" value="{{user}}"/>
        </div>
        <div class="entry" id="entry-pwd">
            <input type="password" id="pwd" name="pwd" placeholder="密码"/>
        </div>
        <p class="warns" >{{warn}}</p>
        <input type="submit" class="submit" value="登录" />
        
        <div class="other">
            <!-- <div class="login-ways">
                
            </div> -->
            <div class="retrieve">
                <span>忘记密码？</span>
                <a href="/m/login/retrieve">找回密码</a>
                <br/>
                <span>没有账号？</span>
                <a href="/m/register">注册</a>
            </div>
            <div class="clear"></div>
        </div>
        
    </form>
</div>
{% endblock %}